body { 
    background-color: #439A97;
}

.page {
    font-family: sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 1%;
}

.button{
    background-color: #CBEDD5;
}

.columnStyle{
    background-color: #fff;
    border-radius: 0.375em;
    color: #7a7a7a;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
    min-height: 150px;
}

.padding{
    margin: 10px 0 10px 0;
}

.foodBox{
    background-color: #62B6B7;
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-radius: 0.375em;
}

html {
    scroll-behavior: smooth;
}

.full{
    height: 99vh;
}

.split {
    height: 100%;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}

#textCenterLeft{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size:5vw;
    filter: none;
}
#textCenterRight{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size:5vw;
    filter: none;
}

.imgFill{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blur{
    filter: grayscale(25%) blur(6px);
    transform: scale(1.001);
    transition: filter 1s;
    padding: 0
}
.blur:hover{
    filter: none;
}
#margin{
    margin-bottom: 0;
}